backoff==2.2.1
listparser==0.19
markdown==3.4.3
numpy==1.26.0
pandas==2.2.2
pinecone-client==4.0.0
python-dotenv==1.0.0
python_dateutil==2.8.2
pytz==2023.3
requests==2.31.0
streamlit==1.40.1
streamlit-lottie==0.0.5
tldextract==3.4.1
voyageai==0.2.3
